spring:
  config:
    import: optional:configserver:http://survey-config-server:8888
    activate:
      on-profile: local

eureka:
  client:
    service-url:
      defaultZone: http://survey-discovery:8761/eureka
    register-with-eureka: true
    fetch-registry: true

  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}