<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button id="kakao"><a href="https://kauth.kakao.com/oauth/authorize?client_id=b35e72debe9e927906501d1d10601f0b&redirect_uri=http://localhost:10001/kakao/redirection&response_type=code&state=survey-uuid">카카오 인증</a></button>
    <button id="google"><a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=829914483447-h79ua6bjtaoi5unaaf3d381fri3h9sm0.apps.googleusercontent.com&redirect_uri=http://localhost:10001/google/redirection&response_type=code&scope=email profile&state=survey-uuid">구글 인증</a></button>
    <button id=""><a href="https://nid.naver.com/oauth2.0/authorize?client_id=OcF1ZIuwPNU0vY_7w7Xy&redirect_uri=http://localhost:10001/naver/redirection&state=survey-uuid&response_type=code">네이버 로그인</a></button>
    <br/><br/><br/><br/><br/>
    <input type="text" name="email" value="s"><br/>
    <input type="text" name="name"><br/>
    <input type="text" name="phoneNumber">
    <input type="submit" id="send">
</body>
<script>
    let send = document.querySelector("#send");
    send.addEventListener("click", () => {
        let email = document.querySelector("input[name=email]").value
        let name = document.querySelector("input[name=name]").value
        let phoneNumber = document.querySelector("input[name=phoneNumber]").value

        let sendData = {
            email, name, phoneNumber
        };

        fetch("http://localhosst:10001/respondent/auth", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(sendData)
        });

    })
</script>
</html>